<!DOCTYPE html>
<html>
  <head>
    <title>Simply task manager</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


    <style type="text/css">
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>
  <body class="<%= params[:controller] %>">

    <!-- Topbar
	 ================================================== -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Simply task manager</a>
          <ul class="nav">
	    <% if current_user %>
	    <li><%= link_to "Stories", stories_path %><li>
	    <li><p>Logged in as <%= current_user.email %></p></li>
	    <li><%= link_to "Log out", log_out_path %></li>
	    <% else %>
	    <li><%= link_to "Sign up", sign_up_path %></li>
	    <li><%= link_to "Log in", log_in_path %></li>
	    <% end %>
          </ul>
        </div>
      </div>
    </div>
  

    <div class="container">

	<div class="row">
	  <div class="span16">
	    <% flash.each do |name, msg| %>
	    <div class="alert-message info" data-alert="alert">
	      <a class="close" href="#">&times;</a>
   	      <%= content_tag :p, msg %>
	    </div>
	    <% end %>
	  </div>
	</div>



      <%= yield %>
    </div>
</body>
</html>
